<div class="container">
    <h1>Dados Iniciais da Simulação</h1>
    <form #f>
      <div class="form-group">
        <label for="populacao">População</label>
        <input type="text" class="form-control" id="populacao" required>
      </div>

      <div class="form-group">
        <label for="impostoRenda">Impostos de Renda</label>
        <input type="text" class="form-control" id="impostoRenda">
      </div>

      <div class="form-group">
        <label for="taxaJuros">Taxa de Juros</label>
        <input type="text" class="form-control" id="taxaJuros" required>
      </div>

      <div class="form-group">
        <label for="depositoCompulsorio">Depósito Compulsório</label>
        <input type="text" class="form-control" id="depositoCompulsorio">
      </div>

      <div class="form-group">
        <label for="porcentagemEmpresas">Porcentagem de Empresas</label>
        <input type="text" class="form-control" id="porcentagemEmpresas" required>
      </div>

      <div class="form-group">
        <label for="quantidadeBancos">Quantidade de Bancos</label>
        <input type="text" class="form-control" id="quantidadeBancos">
      </div>

    </form>
</div>